<script>
  $(document).ready(function(){
   $('.slider').slider({
     full_width: true
    });
    $("#newpic").hide();

  });
</script>


<script>
$(document).ready(function() {
  $(".halloween").click(function() {
    $("html").toggleClass("active");
    $(".white").toggleClass("active");
    $("h1").toggleClass("active");
    $("h2").toggleClass("active");
    $("h3").toggleClass("active");
    $("h4").toggleClass("active");
    $("h5").toggleClass("active");
    $(".parallax").toggleClass("active");
    $(".parallax2").toggleClass("active");
    $("#pic1").toggle();
    $("#newpic").toggle();
    // <div id="newpic">
    //   <%= image_tag ('h1.jpg'), :id => 'pic2', :style => "align: middle"  %>
    //   <h3 id="mode">Halloween Mode Activated!</h3>
    // </div>

  });
});
</script>

<script>
$(document).ready(function() {
       $('.dropdown-button').dropdown({
         inDuration: 300,
         outDuration: 225,
         constrain_width: false, // Does not change width of dropdown to that of the activator
         hover: false, // Activate on click
         alignment: 'left', // Aligns dropdown to left or right edge (works with constrain_width)
         gutter: 0, // Spacing from edge
         belowOrigin: false // Displays dropdown below the button
       });
   });

</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div class="white">
  <div class="jumbotron">

    <%= image_tag ('ipad.png'), :id => 'pic1' %>

  </div>

  <br>
  <br>
</div>






<div>
  <%= image_tag ('clashipad.png'), :id => 'pic1' %>
  <!--Lookup Bars   -->
<div class="white">
    <div class="container">
      <br>
      <br>
      <h3 style="text-align:center">Search</h3>
      <h5 style="text-align:center;"><%= notice %></h5>
      <div class="row">
        <div class="col s12">

          <form action="players/" method="get">
            <div class="input-field col s6">
              <i class="material-icons prefix">perm_identity</i>
              <input id="perm_identity" type="text" class="validate" name='playerInput' required>
              <label class="active" for="perm_identity">Enter Your Player Tag</label>
              <button id="button" class="btn waves-effect waves-light blue darken-2">Submit
                <i class="material-icons right"></i>
              </button>
            </div>
          </form>

          <form action="clans/" method="get">
            <div class="input-field col s6">
              <i class="material-icons prefix">perm_identity</i>
              <input id="perm_identity" type="text" class="validate" name='clanInput' required>
              <label class="active" for="perm_identity">Enter Your Clan Tag</label>
              <button id="button" class="btn waves-effect waves-light blue darken-2">Submit
                <i class="material-icons right"></i>
              </button>
            </div>
          </form>

        </div> <!-- col s12 -->
      </div> <!--row -->
    </div> <!--container -->
    <br>
    <br>
</div><!--end class="white" div -->

</div>


<div class="white">
  <%= image_tag ('barbed'), :id => 'healer' %>
  <%= image_tag ('banner1'), :style => 'margin-top:-110px' %>
  <div class="slider">
    <ul class="slides z-depth-3 card-panel hoverable">
      <li>
        <%= image_tag ('image1.png') %>
        <div class="caption left-align" style="margin-left:-100px; ">
          <h3>CLICK ON YOUR</h3>
          <h5 class="">CLAN CASTLE</h5>
        </div>
      </li>
      <li>
        <%= image_tag ('image2.png') %>
        <div class="caption right-align" style="margin-left:100px;">
          <h3>FIND YOUR NAME</h3>
          <h5 class="">CLICK PROFILE</h5>
        </div>
      </li>
      <li>
        <%= image_tag ('image3.png') %>
        <div class="caption right-align" style="margin-left:100px;">
          <h3>CLICK THE ICON</h3>
          <h5 class="">AND CLICK COPY</h5>
        </div>
      </li>
    </ul>
  </div>
</div>

<br>
<br>
<br>

<!--Goblin Image and Twitter Feeds Below  -->
<div class="container">
  <%= image_tag ('goblinFront.png'), :class => 'gob' %>
  <h3 style="text-align: center">Stay in Touch</h3>

  <div id='twitter-row'>
    <div id="clash"class="z-depth-5 col s4">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/ClashOfClans" data-widget-id="876903261403455489">#ClashOfClans Tweets</a>
    </div>

    <div id="supercell" class="z-depth-5 col s4">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/supercell" data-widget-id="876884800203706373">#supercell Tweets</a>
    </div>
  </div>
</div>
