<script>
$(document).ready(function(){
 $('.slider').slider({
   full_width: true
 });

});


</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




<div class="white">
  <div class="jumbotron">
    <%= image_tag ('barb.png'), :style => "align: middle" %>
    <div class="banner">
      <h2>CLASH OF CLANS
        <br>
        STATS FINDER</h2>
      <h5 align="middle">Lookup stats about your Clan or Individual Player Info</h5>
    </div>
  </div>

  <br>
  <br>
</div>


<div class="parallax"></div>

  <!--Lookup Bars   -->
<div class="white">
    <div class="container">
      <br>
      <br>
      <h3>Search</h3>
      <h5><%= notice %></h5>
      <div class="row">
        <div class="col s12">

          <form action="players/" method="get">
            <div class="input-field col s6">
              <i class="material-icons prefix">perm_identity</i>
              <input id="perm_identity" type="tel" class="validate" name='playerInput' required>
              <label class="active" for="perm_identity">Enter Your Player Tag</label>
              <button id="button" class="btn waves-effect waves-light blue darken-2">Submit
                <i class="material-icons right"></i>
              </button>
            </div>
          </form>

          <form action="clans/" method="get">
            <div class="input-field col s6">
              <i class="material-icons prefix">perm_identity</i>
              <input id="perm_identity" type="tel" class="validate" name='clanInput' required>
              <label class="active" for="perm_identity">Enter Your Clan Tag</label>
              <button id="button" class="btn waves-effect waves-light blue darken-2">Submit
                <i class="material-icons right"></i>
              </button>
            </div>
          </form>

        </div> <!-- col s12 -->
      </div> <!--row -->
    </div> <!--container -->
    <br>
    <br>
</div><!--end class="white" div -->
<div class="parallax2"></div>


<div class="white">
  <%= image_tag ('barbed'), :id => 'healer' %>
  <%= image_tag ('banner1'), :style => 'margin-top:-110px' %>
  <div class="slider">
    <ul class="slides z-depth-3 card-panel hoverable">
      <li>
        <%= image_tag ('image1.png') %>
        <div class="caption left-align" style="margin-left:-100px; ">
          <h3>CLICK ON YOUR</h3>
          <h5 class="">CLAN CASTLE</h5>
        </div>
      </li>
      <li>
        <%= image_tag ('image2.png') %>
        <div class="caption right-align" style="margin-left:100px;">
          <h3>FIND YOUR NAME</h3>
          <h5 class="">CLICK PROFILE</h5>
        </div>
      </li>
      <li>
        <%= image_tag ('image3.png') %>
        <div class="caption right-align" style="margin-left:100px;">
          <h3>CLICK THE ICON</h3>
          <h5 class="">AND CLICK COPY</h5>
        </div>
      </li>
    </ul>
  </div>
</div>

<br>
<br>
<br>

<!--Goblin Image and Twitter Feeds Below  -->
<div class="container">
  <%= image_tag ('goblinFront.png'), :class => 'gob' %>
  <h3 style="text-align: center">Stay in Touch</h3>

  <div id='twitter-row'>
    <div id="clash"class="z-depth-5 col s4">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/ClashOfClans" data-widget-id="876903261403455489">#ClashOfClans Tweets</a>
    </div>

    <div id="supercell" class="z-depth-5 col s4">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/supercell" data-widget-id="876884800203706373">#supercell Tweets</a>
    </div>
  </div>
</div>
