<!DOCTYPE html>
<html>
  <head>
    <title>ClashStop.com</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/icon?family=Material+Icons" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>



    <nav class="black" id='top-bar'>
      <div class="nav-wrapper container">
        <a href="/"> <%= image_tag ('clash.png'), :class => 'home' %></a>


        <% if current_user %>
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'><%= current_user.email  %></a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>

            <li> <%= link_to ('My Account'), account_path(current_user.id) %></a></li>
            <li class="divider"></li>
            <li><%= link_to ('Logout'), destroy_user_session_path, :data => {:method=>'delete'}  %></li>
          </ul>

        <% else %>

        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Login</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><%= link_to ("Log-in"), new_user_session_path %></li>
            <li><%= link_to ('Sign-Up'), new_user_registration_path %></li>
            <li class="divider"></li>
          </ul>

        <!-- <%= link_to ("login"), new_user_session_path, :class => "dropdown-button btn"  %> -->

        <% end %>


        <% if (params['playerInput']).nil? && (params['clanInput']).nil? %>
          <div class="right">
            <!-- <button class="btn waves-effect halloween" name="button">Halloween Mode</button> -->
          </div>
        <% end %>
      </div>
    </nav>
    <p id="notice"><%= notice %></p>


    <%= yield %>
  </body>

  <!--Footer -->
  <footer class="page-footer blue" style="margin-top:25px;">
      <div class="footer-copyright blue">
        <div class="container">
        Made by
        <%= mail_to ('JasonBuildsWebsites@gmail.com'), 'Jason L', :style => 'color:white;' %>
        </div>
      </div>
  </footer>

</html>
